@use 'variables' as v;

// Mixin para telefono
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
//Mixin para tablet
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
// Mixin para escritorio
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
// Mixin para desktopXL
@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}