@use 'variables' as v;

// Mixin para telefono
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}
//Mixin para tablet
@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
// Mixin para escritorio
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}
// Mixin para desktopXL
@mixin desktopXL {
    @media (min-width: v.$desktopXL) {
        @content;
    }
}
//mixin para contenedor
@mixin contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

//Mixin para grid
@mixin grid($columnas : 1, $gap : 5rem) { //Valores por defecto
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}
